h1 {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
  }
  
  body {
    width: 640px;
    margin: 0 auto;
  }
  .displayed-img {
    max-height: 100%;
    width: auto;
    display: block; /* 将图片转换为块级元素 */
    margin: 0 auto; /* 使用margin: 0 auto;将图片水平居中 */
}

  .full-img {
    position: relative;
    display: block;
    width: 640px;
    height: 480px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    background-color: rgba(0,0,0,0);
  }
  
  button {
    border: 0;
    background: rgba(150,150,150,0.6);
    text-shadow: 1px 1px 1px white;
    border: 1px solid #999;
    /* position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px; */
  }
  
  .thumb-bar img {
    display: block;
    width: 16.6667%;
    float: left;
    cursor: pointer;
}